In [81]:
import pandas as pd
import requests
import json
from pprint import pprint

In [84]:
# Import Flood Data
files = '../Resources/Flood/UPDATED_CLEAN_NFP_CLAIMS.csv'
flood_df = pd.read_csv(files)

In [85]:
#Convert Columns to DateTime Type
flood_df['dateOfLoss'] = pd.to_datetime(flood_df['dateOfLoss'].str.slice(0,10,1),format='%Y/%m/%d')
flood_df['asOfDate'] = pd.to_datetime(flood_df['asOfDate'].str.slice(0,10,1),format='%Y/%m/%d')
flood_df['originalConstructionDate'] = pd.to_datetime(flood_df['originalConstructionDate'].str.slice(0,10,1),format='%Y/%m/%d')
flood_df['originalNBDate'] = pd.to_datetime(flood_df['originalNBDate'].str.slice(0,10,1),format='%Y/%m/%d')

#Don't Need this Column so we going to delete it!
del flood_df['asOfDate']
del flood_df['yearOfLoss']


#Filter Data on Properties with Primary Residence
flood_df=flood_df.loc[flood_df['primaryResidence'] == 1].reset_index(drop=True)

In [86]:
#Rename Columns
flood_df = flood_df.rename(columns={'dateOfLoss':'Date Of Loss',
                                    'originalConstructionDate':'Building Construction Date',
                                    'originalNBDate':'Flood Policy Date',
                                   'numberOfFloorsInTheInsuredBuilding':'Numbers of Floors',
                                   'policyCount':'Number of Policies','reportedCity':'City'})

In [87]:
#Create new Column Called "Date of Loss" & "Flood Policy Date" and add it to Dataframe!
YearOfLoss = []
FloodPolicyYear = []

for yearsLoss in flood_df['Date Of Loss']:
    YearOfLoss.append(yearsLoss.year)
    
for yearsPolicy in flood_df['Flood Policy Date']:
    FloodPolicyYear.append(yearsPolicy.year)    
    
flood_df['Year Of Loss'] = YearOfLoss
flood_df['Flood Policy Year'] = FloodPolicyYear

#Convert Scientific Notation
pd.options.display.float_format = '{:,.2f}'.format

#Export Newly Clean Data
flood_df.to_csv('updated_clean_data.csv',index=False,header=True)

In [88]:
# Flood Data Severity (2010-2019)
flood_severity = flood_df.groupby(['Year Of Loss']).sum().sort_values(by='Year Of Loss',ascending=False)['amountPaidOnBuildingClaim']

In [90]:
flood_severity

Year Of Loss
2019     197,371,582.74
2018     521,694,822.59
2017   3,567,071,013.26
2016   1,497,794,830.50
2015     281,495,373.43
2014      97,313,468.20
2013     128,786,616.03
2012   3,932,932,305.00
2011     739,290,513.91
2010     205,821,944.41
Name: amountPaidOnBuildingClaim, dtype: float64

In [68]:
#Export Flood Severity to CSV
flood_severity.to_csv('Flood_severity.csv',index=True,header=True)

In [91]:
# Flood Data per State (2010-2019)
flood_df.groupby(['state']).sum().sort_values(by='amountPaidOnBuildingClaim',ascending=False)

,Number of Policies,communityRatingSystemDiscount,latitude,longitude,Numbers of Floors,occupancyType,amountPaidOnBuildingClaim,totalBuildingInsuranceCoverage,primaryResidence,Year Of Loss,Flood Policy Year
state,,,,,,,,,,,
TX,"60,594.00",0.00,"1,775,754.40","-5,701,719.50","84,193.00","61,135.00","3,580,799,050.30","11,744,261,500.00","60,278.00",121562678,121266181
NY,"52,445.00",0.00,"2,035,686.30","-3,678,711.90","115,230.00","56,169.00","2,263,861,352.98","11,370,176,700.00","49,911.00",100414626,100082154
NJ,"53,720.00",0.00,"1,754,896.80","-3,249,629.70","96,206.00","49,750.00","1,736,480,583.48","11,074,372,100.00","43,861.00",88239393,87947922
LA,"26,597.00",0.00,"805,957.80","-2,412,607.80","35,161.00","27,058.00","1,266,266,974.26","4,460,932,500.00","26,570.00",53533631,53361672
FL,"40,763.00",0.00,"865,205.70","-2,546,360.60","48,476.00","33,060.00","650,916,220.25","8,080,510,700.00","31,186.00",62864882,62682600
NC,"16,198.00",0.00,"544,895.70","-1,198,086.80","30,779.00","15,960.00","396,411,318.74","2,951,449,500.00","15,627.00",31497419,31388773
SC,"8,273.00",0.00,"245,377.90","-593,359.00","14,566.00","7,689.00","176,762,038.00","1,730,856,400.00","7,434.00",14986586,14940466
CT,"6,338.00",0.00,"252,515.50","-447,602.80","14,572.00","6,485.00","161,840,333.40","1,358,622,000.00","6,139.00",12350137,12301534
PA,"6,527.00",0.00,"254,741.20","-482,348.60","15,601.00","6,732.00","115,084,238.71","862,321,100.00","6,300.00",12679929,12646140
TN,"3,358.00",0.00,"120,073.50","-289,488.50","6,513.00","3,419.00","84,822,691.01","516,430,000.00","3,336.00",6712324,6696925
MO,"2,678.00",0.00,"102,099.00","-244,241.90","5,475.00","2,733.00","61,830,594.66","306,511,500.00","2,667.00",5373356,5358542
VA,"4,980.00",0.00,"185,837.40","-381,444.70","10,941.00","5,174.00","56,058,620.03","932,012,100.00","4,980.00",10028332,9999956
IL,"4,701.00",0.00,"191,177.10","-408,032.40","10,552.00","4,847.00","54,290,175.71","687,003,100.00","4,628.00",9318474,9292296
ND,"1,262.00",0.00,"59,856.60","-125,816.90","2,927.00","1,289.00","52,398,914.34","224,487,500.00","1,262.00",2538332,2533954
GA,"3,166.00",0.00,"102,050.80","-260,026.60","5,997.00","3,212.00","48,007,398.50","635,421,200.00","3,166.00",6382104,6363718
MS,"2,727.00",0.00,"80,195.70","-227,280.80","3,597.00","2,606.00","45,724,694.38","372,768,700.00","2,546.00",5127861,5115261
AR,"1,279.00",0.00,"44,759.90","-117,379.10","2,031.00","1,344.00","34,937,462.40","157,337,100.00","1,279.00",2576661,2569142
KY,"2,184.00",0.00,"81,169.10","-181,870.60","4,435.00","2,215.00","33,847,058.91","256,267,100.00","2,141.00",4310539,4296582
MA,"2,812.00",0.00,"105,222.10","-176,949.70","6,147.00","2,754.00","27,338,136.36","619,628,400.00","2,497.00",5026715,5013056
CA,"1,858.00",0.00,"66,958.70","-222,452.80","3,102.00","1,924.00","27,257,104.16","396,142,700.00","1,857.00",3742048,3731848
IA,"1,597.00",0.00,"60,432.50","-134,304.00","3,160.00","1,476.00","22,241,418.66","192,750,200.00","1,448.00",2916706,2910275
NE,"1,043.00",0.00,"42,797.80","-100,623.40","2,142.00","1,046.00","22,171,156.94","141,712,400.00","1,043.00",2102422,2095965
OK,674.00,0.00,"23,818.90","-64,889.10","1,035.00",688.00,"21,844,385.16","96,263,800.00",674.00,1358179,1355013
IN,"1,479.00",0.00,"58,996.80","-127,459.70","3,050.00","1,508.00","21,041,682.99","192,505,300.00","1,479.00",2979295,2970778
AL,"2,669.00",0.00,"41,174.70","-111,743.20","2,236.00","1,398.00","19,564,779.04","448,631,900.00","1,290.00",2598320,2592335
OH,"1,807.00",0.00,"73,109.20","-149,206.70","4,066.00","1,863.00","18,255,216.83","223,771,500.00","1,807.00",3639091,3629071
RI,"2,362.00",0.00,"63,082.30","-108,348.00","3,510.00","1,661.00","17,740,939.49","503,166,300.00","1,517.00",3050514,3041539
CO,"1,200.00",0.00,"46,869.20","-124,007.50","2,636.00","1,263.00","17,249,307.47","221,461,500.00","1,182.00",2380068,2375319
MI,"1,403.00",0.00,"59,727.00","-117,442.10","3,142.00","1,488.00","15,523,461.44","199,338,300.00","1,403.00",2827817,2818956
MD,"2,569.00",0.00,"87,776.50","-172,770.90","5,414.00","2,343.00","14,607,161.87","459,409,000.00","2,265.00",4560985,4550868
WV,788.00,0.00,"30,148.00","-63,395.50","1,729.00",793.00,"13,415,831.54","73,720,800.00",788.00,1587013,1582678
WI,970.00,0.00,"42,137.80","-86,270.20","2,246.00",994.00,"12,647,574.99","129,071,100.00",970.00,1954836,1949632
VT,473.00,0.00,"20,771.10","-34,402.00","1,125.00",534.00,"11,070,106.39","66,885,500.00",473.00,951497,948983
SD,841.00,0.00,"36,621.20","-81,591.30","1,845.00",848.00,"10,248,161.28","133,928,700.00",841.00,1693049,1689727
MN,853.00,0.00,"38,432.70","-79,975.00","2,001.00",863.00,"7,170,847.52","129,277,400.00",853.00,1717087,1713450
WA,639.00,0.00,"30,229.10","-77,822.60","1,372.00",650.00,"6,842,554.45","117,192,900.00",639.00,1286850,1283380
HI,"3,053.00",0.00,"4,362.90","-32,316.70",357.00,265.00,"6,582,677.92","645,975,200.00",207.00,417026,415616
AZ,375.00,0.00,"12,468.60","-41,704.80",533.00,387.00,"6,361,153.70","65,888,100.00",375.00,755285,753558
KS,533.00,0.00,"20,165.50","-50,458.80","1,187.00",562.00,"6,118,927.70","73,358,000.00",533.00,1074257,1072007
DE,700.00,0.00,"25,340.10","-49,125.90","1,487.00",689.00,"5,716,490.18","140,355,100.00",655.00,1318214,1314161
OR,304.00,0.00,"13,524.70","-37,097.10",645.00,314.00,"2,980,650.47","54,919,600.00",304.00,612137,610143
NH,237.00,0.00,"10,081.70","-16,622.10",551.00,253.00,"2,235,628.44","38,882,700.00",233.00,469048,467981
VI,151.00,0.00,"1,902.30","-6,870.40",159.00,122.00,"1,902,395.93","24,739,200.00",106.00,213570,212942
NV,143.00,0.00,"5,484.30","-16,876.50",259.00,147.00,"1,779,310.34","29,304,800.00",143.00,288134,287322
ID,158.00,0.00,"6,915.00","-17,964.90",359.00,158.00,"1,618,072.22","32,218,600.00",158.00,318478,317604
NM,133.00,0.00,"4,547.00","-14,110.90",193.00,158.00,"1,533,005.47","23,742,100.00",133.00,267818,267169
MT,190.00,0.00,"8,775.60","-20,745.10",387.00,190.00,"1,446,088.61","28,222,100.00",190.00,382525,381619
PR,108.00,0.00,"1,828.10","-6,637.10",119.00,111.00,"1,415,741.12","8,293,300.00",100.00,201497,200529
AK,66.00,0.00,"4,042.90","-9,637.60",143.00,68.00,"1,136,898.19","11,671,200.00",66.00,132871,132471
ME,117.00,0.00,"5,173.10","-8,176.90",289.00,122.00,"897,356.46","19,220,500.00",117.00,235534,235009
DC,144.00,0.00,"5,565.00","-11,012.80",394.00,165.00,"590,168.43","21,370,500.00",144.00,290113,289779
UT,107.00,0.00,"4,268.00","-11,872.10",235.00,109.00,"366,128.98","20,708,400.00",107.00,215517,215284
WY,56.00,0.00,"2,361.20","-5,881.40",125.00,57.00,"258,775.09","10,536,100.00",56.00,112818,112610
GU,2.00,0.00,26.80,289.30,2.00,2.00,"63,454.18","256,300.00",2.00,4030,4024

In [92]:
flood_df.head()

,City,Number of Policies,communityRatingSystemDiscount,Date Of Loss,floodZone,latitude,longitude,Numbers of Floors,occupancyType,Building Construction Date,Flood Policy Date,amountPaidOnBuildingClaim,state,totalBuildingInsuranceCoverage,primaryResidence,Year Of Loss,Flood Policy Year
0,ELSBERRY,1.00,0.00,2019-09-30,AE,39.20,-90.70,1.00,1.00,1964-01-01,2017-07-22,0.00,MO,"160,900.00",1.00,2019,2017
1,MORRIS,1.00,0.00,2019-09-29,AE,nan,nan,2.00,1.00,1900-01-01,2019-08-05,0.00,IL,"150,000.00",1.00,2019,2019
2,FRANKFORT,1.00,0.00,2019-09-28,AE,41.50,-87.80,2.00,1.00,1950-09-01,2019-04-11,0.00,IL,"105,000.00",1.00,2019,2019
3,BOCA RATON,1.00,0.00,2019-09-28,X,26.40,-80.10,1.00,1.00,1993-01-01,2018-05-21,0.00,FL,"250,000.00",1.00,2019,2018
4,HARRISONVILLE,1.00,0.00,2019-09-28,AE,38.60,-94.30,1.00,1.00,1955-06-01,2018-10-25,0.00,MO,"111,100.00",1.00,2019,2018