# Fire and Flood Risks in US

In this project we will evaluate Fire and Flood claims in the United States. We will determine key metrics based on data available related to frequency and severity of claims, average dollar amount of claims, risk of claims, loss ratios and as a bonus: investment income from surplus of premiums.

In [49]:
#Import libraries
import pandas as pd
from pathlib import Path
%matplotlib inline

## Data Cleaning

We will read, clean and combine the following CSV files for further analysis:
1. Nonres_Fire_Dollr_Loss_by_Cause.csv
2. Res_Bld_Fire_Dollr_Est_by_Cause.csv
3. Nonres_Bldg_Fire_Est_by_Cause.csv
4. Res_Bldg_Fire_Est_by_Cause.csv

In [71]:
#Set Path using pathlib
nonres_fire_losses_csv = Path(
    "fire_loss_estimates/Nonres_Fire_Dollr_Loss_by_Cause.csv")
res__fire_losses_csv = Path(
    "fire_loss_estimates/Res_Bld_Fire_Dollr_Est_by_Cause.csv")

In [72]:
#Read CSV 'Nonres_Fire_Dollr_Loss_by_Cause.csv' into dataframe
nonres_fire_losses = pd.read_csv(nonres_fire_losses_csv)
nonres_fire_losses.head()

,Years,Intentional,Playing with Heat Source,Smoking,Heating,Cooking,Electrical Malfunction,Appliances,Open Flame,Other Heat,Other Equipment,Natural,Exposure,Equipment Malfunction,"Other Unintentional, Careless",Cause Under Investigation,Total Nonresidential Dollar Loss*,Unnamed: 17,Unnamed: 18
0,2003,"$364,600,000.00","$12,100,000.00","$43,900,000.00","$159,300,000.00","$56,900,000.00","$514,600,000.00","$102,300,000.00","$282,100,000.00","$207,200,000.00","$194,600,000.00","$258,100,000.00","$198,000,000.00","$241,100,000.00","$322,000,000.00","$149,400,000.00","$3,106,000,000.00",NaN,NaN
1,2004,"$324,600,000.00","$12,400,000.00","$26,400,000.00","$118,000,000.00","$70,400,000.00","$403,900,000.00","$58,700,000.00","$280,900,000.00","$173,400,000.00","$300,900,000.00","$170,700,000.00","$119,300,000.00","$224,700,000.00","$452,500,000.00","$98,700,000.00","$2,835,600,000.00",NaN,NaN
2,2005,"$315,300,000.00","$21,100,000.00","$24,800,000.00","$86,600,000.00","$62,200,000.00","$478,600,000.00","$94,000,000.00","$207,200,000.00","$216,200,000.00","$208,600,000.00","$144,600,000.00","$171,300,000.00","$206,500,000.00","$332,600,000.00","$178,300,000.00","$2,747,800,000.00",NaN,NaN
3,2006,"$389,000,000.00","$9,400,000.00","$28,300,000.00","$134,500,000.00","$50,500,000.00","$500,600,000.00","$115,000,000.00","$137,900,000.00","$156,800,000.00","$110,900,000.00","$219,700,000.00","$137,100,000.00","$461,600,000.00","$300,100,000.00","$169,200,000.00","$2,920,500,000.00",NaN,NaN
4,2007,"$529,700,000.00","$11,900,000.00","$37,900,000.00","$88,400,000.00","$51,100,000.00","$488,600,000.00","$75,700,000.00","$274,300,000.00","$275,700,000.00","$235,700,000.00","$247,900,000.00","$235,400,000.00","$276,700,000.00","$455,700,000.00","$188,200,000.00","$3,473,000,000.00",NaN,NaN

In [74]:
#Read CSV 'Res_Bld_Fire_Dollr_Est_by_Cause.csv' into dataframe
res_fire_losses = pd.read_csv(res__fire_losses_csv)
res_fire_losses.head()

,Years,Intentional,Playing with Heat Source,Smoking,Heating,Cooking,Electrical Malfunction,Appliances,Open Flame,Other Heat,Other Equipment,Natural,Exposure,Equipment Malfunction,"Other Unintentional, Careless",Cause Under Investigation,Total Residential*,Unnamed: 17,Unnamed: 18
0,2003,"705,400,000","167,000,000","337,100,000","461,200,000","351,500,000","1,200,100,000","304,100,000","910,000,000","691,300,000","133,400,000","435,900,000","272,100,000","503,200,000","1,057,000,000","233,600,000","7,762,800,000",NaN,NaN
1,2004,"664,100,000","143,300,000","348,300,000","383,700,000","297,100,000","1,201,700,000","246,200,000","942,400,000","590,800,000","143,800,000","522,900,000","279,200,000","435,200,000","1,032,900,000","272,100,000","7,503,500,000",NaN,NaN
2,2005,"727,100,000","162,800,000","392,600,000","379,800,000","343,500,000","1,450,000,000","263,100,000","1,051,900,000","664,400,000","167,500,000","454,100,000","303,300,000","513,300,000","1,061,900,000","418,000,000","8,353,200,000",NaN,NaN
3,2006,"667,100,000","141,200,000","402,100,000","390,500,000","300,600,000","1,270,700,000","290,700,000","894,000,000","1,026,400,000","125,700,000","520,500,000","289,000,000","467,800,000","1,115,900,000","375,300,000","8,277,500,000",NaN,NaN
4,2007,"584,500,000","113,000,000","320,500,000","314,000,000","277,200,000","1,229,300,000","240,400,000","798,800,000","503,800,000","146,600,000","438,100,000","1,914,500,000","408,300,000","1,047,700,000","331,200,000","8,667,900,000",NaN,NaN

In [99]:
nonres_fire_losses.drop(columns = ['Intentional', 
                                   'Playing with Heat Source',
                                   'Smoking', 
                                   'Heating', 
                                   'Cooking',
                                   'Electrical Malfunction', 
                                   'Appliances', 
                                   'Open Flame', 
                                   'Other Heat', 
                                   'Other Equipment',
                                   'Natural',
                                   'Exposure',
                                   'Equipment Malfunction',
                                   'Other Unintentional, Careless',
                                   'Cause Under Investigation', 
                                   'Unnamed: 17', 
                                   'Unnamed: 18'], 
                        inplace = True)

KeyError: "['Heating' 'Appliances' 'Open Flame'] not found in axis"

In [109]:
res_fire_losses.drop(columns = ['Intentional', 
                                'Playing with Heat Source',
                                'Smoking', 
                                'Heating', 
                                'Cooking',
                                'Electrical Malfunction', 
                                'Appliances', 
                                'Open Flame', 
                                'Other Heat', 
                                'Other Equipment',
                                'Natural',
                                'Exposure',
                                'Equipment Malfunction',
                                'Other Unintentional, Careless',
                                'Cause Under Investigation', 
                                'Unnamed: 17', 
                                'Unnamed: 18'], 
                    inplace = True)

KeyError: "['Heating' 'Appliances' 'Open Flame'] not found in axis"

In [101]:
#Check Data types and column names for Non-residential fire dollar losses. 
nonres_fire_losses.dtypes

Intentional                           object
Playing with Heat Source              object
Smoking                               object
Heating                               object
Cooking                               object
Electrical Malfunction                object
Appliances                            object
Open Flame                            object
Other Heat                            object
Other Equipment                       object
Natural                               object
Exposure                              object
Equipment Malfunction                 object
Other Unintentional, Careless         object
Cause Under Investigation             object
Total Nonresidential Dollar Loss*     object
Unnamed: 17                          float64
Unnamed: 18                          float64
dtype: object

In [102]:
#Check Data types and column names for Residential fire dollar losses. 
res_fire_losses.dtypes

Years                              int64
Intentional                       object
Playing with Heat Source          object
Smoking                           object
Heating                           object
Cooking                           object
Electrical Malfunction            object
Appliances                        object
Open Flame                        object
Other Heat                        object
Other Equipment                   object
Natural                           object
Exposure                          object
Equipment Malfunction             object
Other Unintentional, Careless     object
Cause Under Investigation         object
Total Residential*                object
Unnamed: 17                      float64
Unnamed: 18                      float64
dtype: object

In [117]:
#Remove '$' and ',' in 'Nonres_Fire_Dollr_Loss_by_Cause' dataframe
nonres_fire_losses["Total Nonresidential Dollar Loss*"] = nonres_fire_losses[
    "Total Nonresidential Dollar Loss*"].replace('$', '')
nonres_fire_losses.head()

AttributeError: Can only use .str accessor with string values!

In [119]:
#Remove ',' in Res_Bld_Fire_Dollr_est_by_Cause dataframe
res_fire_losses["Total Residential*"] = res_fire_losses[
    "Total Residential*"].str.replace(',' '')
res_fire_losses.head()

TypeError: replace() missing 1 required positional argument: 'repl'

nonres_fire_losses.set_index('Years', inplace = True)

## Combine all dataframes

# Risk Analysis

Calculate average cost per claim, then plot the averages per year. 

Given a 40% Loss Ratio and total dollar amount of losses (i.e. Fire/Flood insurance company paid out 40% of premiums in claim or losses), determine the premiums needed for each Fire and Flood datasets and the combined dataset. 40% = ($ Losses per year / Premium) X 100.

Plot the premiums for each year and show increase/decreases needed year-over-year.
Plot average premiums per year.

# Bonus/Challenge
Calculate a risk return analysis on invested 60% of premiums not paid out from loss ratio.