In [291]:
import pandas as pd
import requests
import json
from pprint import pprint
import numpy as np
import hvplot.pandas
import gmaps
import os
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation
import datetime as dt
import pytz
%matplotlib inline

In [213]:
# Import Flood Data
files = '../../Resources/Flood/UPDATED_CLEAN_NFP_CLAIMS.csv'
flood_df = pd.read_csv(files)
flood_df = flood_df.dropna()

In [215]:
#Convert Columns to DateTime Type
flood_df['dateOfLoss'] = pd.to_datetime(flood_df['dateOfLoss'].str.slice(0,10,1),format='%Y/%m/%d')
flood_df['asOfDate'] = pd.to_datetime(flood_df['asOfDate'].str.slice(0,10,1),format='%Y/%m/%d')
flood_df['originalConstructionDate'] = pd.to_datetime(flood_df['originalConstructionDate'].str.slice(0,10,1),format='%Y/%m/%d')
flood_df['originalNBDate'] = pd.to_datetime(flood_df['originalNBDate'].str.slice(0,10,1),format='%Y/%m/%d')

#Don't Need this Column so we going to delete it!
del flood_df['asOfDate']


#Filter Data on Properties with Primary Residence
flood_df=flood_df.loc[flood_df['primaryResidence'] == 1].reset_index(drop=True)

In [216]:
#Rename Columns
flood_df = flood_df.rename(columns={'dateOfLoss':'Date Of Loss',
                                    'originalConstructionDate':'Building Construction Date',
                                    'originalNBDate':'Flood Policy Date',
                                   'numberOfFloorsInTheInsuredBuilding':'Numbers of Floors',
                                   'policyCount':'Number of Policies','reportedCity':'City'})

In [217]:
#Create new Column Called "Date of Loss" & "Flood Policy Date" and add it to Dataframe!
YearOfLoss = []
FloodPolicyYear = []

for yearsLoss in flood_df['Date Of Loss']:
    YearOfLoss.append(yearsLoss.year)
    
for yearsPolicy in flood_df['Flood Policy Date']:
    FloodPolicyYear.append(yearsPolicy.year)    
    
flood_df['Year Of Loss'] = YearOfLoss
flood_df['Flood Policy Year'] = FloodPolicyYear


#Only Want Paid Claims
#paid_Claims = flood_df[flood_df['amountPaidOnBuildingClaim'] > 0].reset_index(drop=True)

#Convert Scientific Notation
pd.options.display.float_format = '{:,.2f}'.format



#Export Newly Clean Data
flood_df.to_csv('updated_clean_data.csv',index=False,header=True)

In [218]:
# Flood Data Severity  (2010-2019) - BASED OFF OF CLAIMS
flood_severity = flood_df.groupby(['Year Of Loss']).sum().sort_values(by='Year Of Loss',ascending=False)['amountPaidOnBuildingClaim']

In [219]:
# Flood Data Severity (2010-2019) - BASED OFF OF COVERAGE AMOUNT(PROPERTY OF VALUES)
flood_severity_Coverage = flood_df.groupby(['Year Of Loss']).sum().sort_values(by='Year Of Loss',ascending=False)['totalBuildingInsuranceCoverage']

In [220]:
#Frequency of Flood Claims per Year
paid_Claims_Year = paid_Claims.groupby(['Year Of Loss']).count().sort_values(by='Year Of Loss',ascending=False)['amountPaidOnBuildingClaim']

In [221]:
#Average Cost Per Claim (flood_severity / paid_Claims_Year)
Average_Cost_per_claim = flood_severity / paid_Claims_Year

In [222]:
#Average cost of Claims Per Year (flood_severity_Coverage - flood_severity)
Average_Cost_per_claim_v2 =(flood_severity_Coverage - flood_severity)/ paid_Claims_Year

In [223]:
#LOSS RATIO (80%) = (Average_Cost_per_claim * 0.8) + Average_Cost_per_claim
Premium_per_claim = (Average_Cost_per_claim * 0.2) + Average_Cost_per_claim

In [224]:
#LOSS RATIO (80%) = (Average_Cost_per_claim * 0.8) + Average_Cost_per_claim (BASED ON COVERAGE - PAID COVERAGE)
Premium_per_claim_v2 = (Average_Cost_per_claim_v2 * 0.2) + Average_Cost_per_claim_v2

In [225]:
flood_severity_Coverage

Year Of Loss
2018     3540055200
2017    13157665900
2016     7412012900
2015     2942191400
2014     2370542000
2013     2389655900
2012    22576007300
2011     9376820900
2010     3957438100
2009     4146305200
2008     6219449000
2007     2372977400
2006     1965144200
2005    17937718500
2004     5519687600
2003     1236525600
Name: totalBuildingInsuranceCoverage, dtype: int64

In [226]:
flood_severity

Year Of Loss
2018     554,837,921.09
2017   3,673,945,852.28
2016   1,500,736,416.31
2015     284,294,984.28
2014     150,868,969.22
2013     211,189,804.19
2012   3,949,542,309.38
2011     857,699,218.14
2010     277,066,873.07
2009     346,906,662.86
2008   1,133,773,583.24
2007     182,885,391.77
2006     284,926,788.18
2005   6,287,686,582.89
2004     742,480,922.38
2003      91,813,575.95
Name: amountPaidOnBuildingClaim, dtype: float64

In [227]:
flood_severity_Coverage - flood_severity

Year Of Loss
2018    2,985,217,278.91
2017    9,483,720,047.72
2016    5,911,276,483.69
2015    2,657,896,415.72
2014    2,219,673,030.78
2013    2,178,466,095.81
2012   18,626,464,990.62
2011    8,519,121,681.86
2010    3,680,371,226.93
2009    3,799,398,537.14
2008    5,085,675,416.76
2007    2,190,092,008.23
2006    1,680,217,411.82
2005   11,650,031,917.11
2004    4,777,206,677.62
2003    1,144,712,024.05
dtype: float64

In [228]:
paid_Claims_Year

Year Of Loss
2018    14190
2017    49736
2016    27848
2015     8910
2014     4928
2013     6619
2012    73191
2011    33461
2010    12000
2009    12396
2008    28606
2007     9197
2006     9252
2005    89532
2004    19636
2003    12740
Name: amountPaidOnBuildingClaim, dtype: int64

In [229]:
#'Average Cost Per Claim PER YEAR: LEFT OVER COVERAGE'
Average_Cost_per_claim_v2.hvplot(title='Average Investment Per Year' )

:Curve   [Year Of Loss]   (0)

In [230]:
Average_Cost_per_claim.hvplot(title='Average Cost Per Claim PER YEAR: BASED OFF OF PAID CLAIMS')

:Curve   [Year Of Loss]   (amountPaidOnBuildingClaim)

In [231]:
#Export Flood Severity to CSV
flood_severity.to_csv('Flood_severity.csv',index=True,header=True)

In [232]:
flood_severity.hvplot(title='Serverity: Total $ Amount of Claims')

:Curve   [Year Of Loss]   (amountPaidOnBuildingClaim)

In [233]:
#Frequency
paid_Claims_Year

Year Of Loss
2018    14190
2017    49736
2016    27848
2015     8910
2014     4928
2013     6619
2012    73191
2011    33461
2010    12000
2009    12396
2008    28606
2007     9197
2006     9252
2005    89532
2004    19636
2003    12740
Name: amountPaidOnBuildingClaim, dtype: int64

In [234]:
Premium_per_claim_v2.hvplot(title='Premium Average Cost')

:Curve   [Year Of Loss]   (0)

In [235]:
Average_Cost_per_claim

Year Of Loss
2018   39,100.63
2017   73,868.95
2016   53,890.28
2015   31,907.41
2014   30,614.64
2013   31,906.60
2012   53,962.13
2011   25,632.80
2010   23,088.91
2009   27,985.37
2008   39,634.12
2007   19,885.33
2006   30,796.24
2005   70,228.37
2004   37,812.23
2003    7,206.72
Name: amountPaidOnBuildingClaim, dtype: float64

In [236]:
Premium_per_claim_v2 - Average_Cost_per_claim_v2

Year Of Loss
2018   42,074.94
2017   38,136.24
2016   42,453.87
2015   59,660.97
2014   90,084.13
2013   65,824.63
2012   50,898.24
2011   50,919.71
2010   61,339.52
2009   61,300.40
2008   35,556.70
2007   47,626.23
2006   36,321.17
2005   26,024.29
2004   48,657.64
2003   17,970.36
dtype: float64

In [237]:
Premium_per_claim - Average_Cost_per_claim

Year Of Loss
2018    7,820.13
2017   14,773.79
2016   10,778.06
2015    6,381.48
2014    6,122.93
2013    6,381.32
2012   10,792.43
2011    5,126.56
2010    4,617.78
2009    5,597.07
2008    7,926.82
2007    3,977.07
2006    6,159.25
2005   14,045.67
2004    7,562.45
2003    1,441.34
Name: amountPaidOnBuildingClaim, dtype: float64

In [238]:
paid_Claims.tail(75)

,City,Number of Policies,communityRatingSystemDiscount,Date Of Loss,floodZone,latitude,longitude,Numbers of Floors,occupancyType,Building Construction Date,Flood Policy Date,amountPaidOnBuildingClaim,state,totalBuildingInsuranceCoverage,primaryResidence,Year Of Loss,Flood Policy Year
412167,SCITUATE,1.00,0.00,2003-01-04,V02,42.20,-70.70,2.00,1.00,1920-05-21,2002-04-19,"7,760.57",MA,"75,400.00",1.00,2003,2002
412168,WINTHROP,1.00,0.00,2003-01-04,B,42.40,-71.00,2.00,1.00,1900-01-01,1997-05-26,"36,232.59",MA,"140,000.00",1.00,2003,1997
412169,SCITUATE,1.00,0.00,2003-01-04,C,42.20,-70.70,3.00,1.00,1985-01-01,1998-10-27,"2,880.81",MA,"183,800.00",1.00,2003,1998
412170,WINTHROP,1.00,0.00,2003-01-04,B,42.40,-71.00,3.00,1.00,1946-07-01,1998-09-04,"4,493.77",MA,"170,000.00",1.00,2003,1998
412171,HUMAROCK,1.00,0.00,2003-01-04,V02,42.10,-70.70,2.00,1.00,1979-02-01,1999-05-23,"1,473.21",MA,"200,000.00",1.00,2003,1999
412172,HUMAROCK,1.00,0.00,2003-01-04,A04,42.10,-70.70,2.00,1.00,1949-01-01,1999-10-29,"4,384.29",MA,"121,000.00",1.00,2003,1999
412173,MARSHFIELD,1.00,0.00,2003-01-04,A02,42.10,-70.60,2.00,1.00,1996-01-01,2000-07-28,490.51,MA,"140,000.00",1.00,2003,2000
412174,HUMAROCK,1.00,0.00,2003-01-04,V03,42.10,-70.70,3.00,1.00,1978-01-01,2001-02-18,"5,827.17",MA,"185,000.00",1.00,2003,2001
412175,SAUNDERSTOWN,1.00,0.00,2003-01-04,C,41.50,-71.50,3.00,1.00,2002-05-25,2002-08-18,"2,101.54",RI,"250,000.00",1.00,2003,2002
412176,WINTHROP,1.00,0.00,2003-01-04,C,42.40,-71.00,2.00,1.00,1945-01-01,2002-06-28,"4,446.83",MA,"47,000.00",1.00,2003,2002
412177,SCITUATE,1.00,0.00,2003-01-04,A08,42.20,-70.70,3.00,2.00,1990-01-01,2001-03-03,"2,256.21",MA,"250,000.00",1.00,2003,2001
412178,WINTHROP,1.00,0.00,2003-01-04,A02,42.40,-71.00,3.00,2.00,1940-07-01,2001-05-31,"15,415.69",MA,"250,000.00",1.00,2003,2001
412179,WINTHROP,1.00,0.00,2003-01-04,AE,42.40,-71.00,2.00,1.00,1940-07-01,2001-05-30,"4,390.44",MA,"250,000.00",1.00,2003,2001
412180,SCITUATE,1.00,0.00,2003-01-04,V02,42.20,-70.70,3.00,1.00,1980-07-01,1997-04-29,"4,075.18",MA,"116,500.00",1.00,2003,1997
412181,SCITUATE,1.00,0.00,2003-01-04,AOB,42.20,-70.70,2.00,1.00,1975-01-01,1997-05-27,"3,229.21",MA,"198,400.00",1.00,2003,1997
412182,SCITUATE,1.00,0.00,2003-01-04,A03,42.20,-70.70,2.00,1.00,1950-07-01,1997-07-27,"4,241.01",MA,"62,700.00",1.00,2003,1997
412183,SCITUATE,1.00,0.00,2003-01-04,V02,42.20,-70.80,3.00,1.00,1994-01-01,2001-05-25,"10,418.84",MA,"250,000.00",1.00,2003,2001
412184,SCITUATE,1.00,0.00,2003-01-04,AOB,42.20,-70.70,3.00,1.00,1981-07-01,2002-09-12,300.00,MA,"249,000.00",1.00,2003,2002
412185,NAHANT,1.00,0.00,2003-01-04,A02,42.40,-70.90,3.00,1.00,1940-01-01,1999-07-27,866.15,MA,"140,000.00",1.00,2003,1999
412186,WINTHROP,1.00,0.00,2003-01-04,X,42.40,-71.00,3.00,2.00,1920-07-01,1996-08-17,"2,037.09",MA,"200,000.00",1.00,2003,1996
412187,MARSHFIELD,1.00,0.00,2003-01-04,VE,42.10,-70.60,3.00,1.00,1979-07-02,1997-03-28,"1,497.98",MA,"250,000.00",1.00,2003,1997
412188,WINTHROP,1.00,0.00,2003-01-04,AE,42.40,-71.00,3.00,1.00,1954-01-01,2002-02-15,"3,497.01",MA,"224,000.00",1.00,2003,2002
412189,RYE,1.00,0.00,2003-01-04,VE,43.00,-70.70,2.00,2.00,1980-07-01,1998-12-21,"15,937.16",NH,"20,000.00",1.00,2003,1998
412190,SCITUATE,1.00,0.00,2003-01-04,AE,42.20,-70.80,3.00,1.00,1949-05-01,1997-07-21,"45,588.50",MA,"250,000.00",1.00,2003,1997
412191,BREWSTER,1.00,0.00,2003-01-04,X,41.80,-70.10,1.00,1.00,1967-01-01,2001-10-12,"2,230.42",MA,"250,000.00",1.00,2003,2001
412192,WINTHROP,1.00,0.00,2003-01-04,X,42.40,-71.00,2.00,1.00,1950-01-01,2001-10-19,"3,311.29",MA,"110,000.00",1.00,2003,2001
412193,MARSHFIELD,1.00,0.00,2003-01-04,X,42.10,-70.70,1.00,1.00,1950-01-01,2000-02-17,"9,138.19",MA,"100,000.00",1.00,2003,2000
412194,MARSHFIELD,1.00,0.00,2003-01-04,X,42.10,-70.70,3.00,1.00,1955-01-01,1999-11-13,"25,273.13",MA,"250,000.00",1.00,2003,1999
412195,RYE,1.00,0.00,2003-01-04,A,43.00,-70.70,2.00,1.00,1950-01-01,2002-06-04,"1,597.12",NH,"106,800.00",1.00,2003,2002
412196,WELLS,1.00,0.00,2003-01-04,X,43.30,-70.60,3.00,1.00,1924-01-01,1998-05-15,"24,105.98",ME,"250,000.00",1.00,2003,1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412212,TOMS RIVER,1.00,0.00,2003-01-04,AE,40.00,-74.10,1.00,1.00,1960-07-01,2001-11-24,785.78,NJ,"116,000.00",1.00,2003,2001
412213,WINTHROP,1.00,0.00,2003-01-04,B,42.40,-71.00,3.00,1.00,1929-07-22,2002-07-22,"3,784.47",MA,"176,000.00",1.00,2003,2002
412214,SCITUATE,1.00,0.00,2003-01-04,A02,42.20,-70.70,3.00,1.00,1977-09-29,2002-09-02,"1,956.47",MA,"97,400.00",1.00,2003,2002
412215,RYE,1.00,0.00,2003-01-03,AO,43.00,-70.70,2.00,2.00,1986-06-17,1999-02-18,"8,591.31",NH,"24,200.00",1.00,2003,1999
412216,NAHANT,1.00,0.00,2003-01-03,VE,42.40,-70.90,2.00,1.00,1976-07-01,1998-01-18,"1,702.63",MA,"208,100.00",1.00,2003,1998
412217,BELLE HARBOR,1.00,0.00,2003-01-03,X,40.60,-73.90,2.00,1.00,1955-01-01,2002-12-07,"1,745.19",NY,"250,000.00",1.00,2003,2002
412218,TOKELAND,1.00,0.00,2003-01-03,A02,46.70,-124.00,1.00,1.00,1940-07-01,2002-09-05,"3,272.06",WA,"115,000.00",1.00,2003,2002
412219,BARTOW FL,1.00,0.00,2003-01-02,A05,27.90,-81.80,1.00,1.00,1950-07-01,2000-08-27,"22,622.51",FL,"36,300.00",1.00,2003,2000
412220,BEDFORD,1.00,0.00,2003-01-02,AE,40.10,-78.50,1.00,1.00,1925-07-15,2002-03-04,"7,448.41",PA,"50,000.00",1.00,2003,2002
412221,VALRICO,1.00,0.00,2003-01-02,A10,27.90,-82.20,1.00,1.00,1971-07-01,1987-04-14,"22,744.65",FL,"116,200.00",1.00,2003,1987
412222,VALRICO,1.00,0.00,2003-01-02,A10,27.90,-82.30,2.00,1.00,1978-06-01,1996-09-03,"4,068.88",FL,"186,300.00",1.00,2003,1996
412223,BARTOW,1.00,0.00,2003-01-02,AE,27.90,-81.80,1.00,1.00,1976-07-01,1995-09-28,"22,602.87",FL,"78,100.00",1.00,2003,1995
412224,FREEPORT,1.00,0.00,2003-01-02,AE,40.60,-73.60,4.00,1.00,1948-07-01,1998-08-17,"4,726.21",NY,"174,000.00",1.00,2003,1998
412225,SCITUATE,1.00,0.00,2003-01-02,VE,42.20,-70.70,3.00,1.00,1920-01-01,2002-03-06,"10,205.90",MA,"208,000.00",1.00,2003,2002
412226,TAPPAN,1.00,0.00,2003-01-02,X,41.00,-73.90,2.00,1.00,1996-05-20,2001-09-12,"5,663.22",NY,"27,500.00",1.00,2003,2001
412227,WILDWOOD,1.00,0.00,2003-01-02,AE,39.00,-74.80,2.00,1.00,1955-05-05,2002-02-21,"10,651.93",NJ,"116,000.00",1.00,2003,2002
412228,VALRICO,1.00,0.00,2003-01-02,A10,27.90,-82.20,2.00,1.00,1960-01-01,2002-05-15,"1,098.87",FL,"86,500.00",1.00,2003,2002
412229,BRANDON,1.00,0.00,2003-01-01,AE,27.90,-82.30,3.00,1.00,1979-01-01,1998-09-16,"5,180.58",FL,"124,000.00",1.00,2003,1998
412230,CEDAR CREEK TX,1.00,0.00,2003-01-01,AE,30.10,-97.50,1.00,1.00,1987-02-01,1998-09-11,"5,228.18",TX,"44,000.00",1.00,2003,1998
412231,SEQUIM,1.00,0.00,2003-01-01,A03,48.10,-123.10,2.00,1.00,1987-10-27,2000-10-26,"3,964.98",WA,"250,000.00",1.00,2003,2000
412232,RUSKIN,1.00,0.00,2003-01-01,A10,27.70,-82.40,1.00,1.00,1970-02-02,2000-06-02,"2,480.00",FL,"55,000.00",1.00,2003,2000
412233,WESTFIELD,1.00,0.00,2003-01-01,C,40.70,-74.30,3.00,1.00,1944-01-01,2001-02-19,761.74,NJ,"250,000.00",1.00,2003,2001
412234,NEW PARIS,1.00,0.00,2003-01-01,AE,40.10,-78.60,1.00,1.00,1949-07-01,1998-01-18,"4,304.25",PA,"33,300.00",1.00,2003,1998
412235,MADEIRA BEACH,1.00,0.00,2003-01-01,A12,27.80,-82.80,1.00,1.00,1952-01-01,2000-03-15,"5,647.56",FL,"120,000.00",1.00,2003,2000
412236,RIVERVIEW,1.00,0.00,2003-01-01,C,27.80,-82.30,1.00,1.00,1973-01-01,2002-05-04,"44,221.08",FL,"105,200.00",1.00,2003,2002
412237,STONY POINT,1.00,0.00,2003-01-01,X,41.20,-74.00,3.00,1.00,1935-07-01,1996-12-18,"1,481.89",NY,"50,000.00",1.00,2003,1996
412238,ATMORE,1.00,0.00,2003-01-01,X,31.00,-87.50,1.00,1.00,1998-06-14,2002-07-14,"4,431.88",AL,"75,000.00",1.00,2003,2002
412239,GIBSONTON,1.00,0.00,2003-01-01,VE,27.80,-82.40,1.00,1.00,1973-07-01,1993-06-13,"16,640.85",FL,"32,200.00",1.00,2003,1993
412240,GIBSONTON,1.00,0.00,2003-01-01,A,27.80,-82.40,1.00,1.00,1979-01-01,1996-04-26,"6,164.39",FL,"56,000.00",1.00,2003,1996
412241,LITHIA,1.00,0.00,2003-01-01,A10,27.90,-82.20,1.00,1.00,1980-06-17,2002-04-11,"20,623.50",FL,"85,000.00",1.00,2003,2002

In [239]:
# Flood Data per State (2010-2019)
flood_df.groupby(['state']).sum().sort_values(by='amountPaidOnBuildingClaim',ascending=False)

,Number of Policies,communityRatingSystemDiscount,latitude,longitude,Numbers of Floors,occupancyType,amountPaidOnBuildingClaim,totalBuildingInsuranceCoverage,primaryResidence,Year Of Loss,Flood Policy Year
state,,,,,,,,,,,
LA,122924,0,"3,618,729.80","-10,623,366.50",154554,147870,"6,473,461,121.54",15863120100,118341,237544713,236903693
TX,88580,0,"2,567,838.80","-7,723,636.70",118299,93019,"4,337,377,921.12",15582482700,82801,166708995,166319045
NY,63116,0,"2,143,524.90","-4,121,411.20",123264,67853,"2,195,294,081.20",13016629400,54102,108804549,108460056
NJ,71159,0,"2,050,957.10","-3,910,274.20",112318,70270,"2,039,061,726.12",14432599000,51729,104032571,103694864
FL,128377,0,"2,021,729.90","-5,567,424.00",106252,83372,"1,616,231,398.69",21604297700,66926,134518362,134200728
NC,22161,0,"698,556.60","-1,566,090.60",38236,23553,"520,798,214.30",3790415300,19797,39852990,39725663
MS,11028,0,"312,035.20","-892,493.00",13547,12202,"456,334,137.58",1408959000,9980,20032603,19989225
PA,13093,0,"468,058.90","-1,015,235.50",29254,18967,"338,297,556.42",1693359000,12475,25057567,24996241
CT,8770,0,"297,237.40","-573,430.90",17304,9468,"263,147,925.90",1728939900,7471,15022338,14967334
VA,12607,0,"433,681.90","-964,970.30",24719,14094,"228,342,755.46",2149700100,11986,24077639,24008347
AL,9957,0,"172,056.50","-470,678.90",8639,7102,"201,597,920.39",1437404500,5364,10765891,10741630
IL,7720,0,"265,085.80","-647,604.30",15388,8641,"193,323,308.50",1065981600,7158,14393252,14355930
SC,10429,0,"262,625.80","-642,851.70",15276,9411,"192,540,678.17",2098278700,7915,15951199,15902148
GA,5844,0,"175,984.60","-442,813.40",9891,6013,"146,258,578.59",1036805600,5241,10545837,10517734
MD,5962,0,"176,644.40","-380,548.80",10328,5985,"102,766,441.27",965972000,4771,9580892,9559722
OH,4226,0,"146,720.00","-364,440.40",8645,5943,"96,366,085.60",481685300,4062,8160650,8140062
MA,4939,0,"151,769.60","-326,353.60",9560,5532,"90,933,705.26",874123100,3977,7995272,7975640
IN,3630,0,"134,242.50","-327,836.00",6866,4423,"86,078,661.88",425770600,3612,7260256,7241642
CA,3598,0,"114,060.70","-291,038.90",5198,4351,"84,539,175.29",679822000,3301,6634048,6618928
MO,4017,0,"145,494.50","-350,499.80",7352,5667,"83,799,061.91",438709100,3954,7952014,7932103
WA,2370,0,"79,719.50","-206,425.60",4498,2930,"66,452,506.95",389739200,2350,4720626,4708793
TN,3814,0,"126,602.70","-289,138.60",6365,4689,"65,776,847.61",540714500,3418,6872960,6857231
IA,2879,0,"106,367.50","-241,972.70",5824,4050,"61,361,838.37",342167000,2770,5568253,5555753
KY,3336,0,"117,385.50","-280,671.50",6172,4354,"59,329,528.45",364771900,3232,6498579,6479254
WV,2609,0,"80,878.00","-199,423.40",4858,3599,"52,861,326.40",261436500,2299,4616020,4604579
RI,2996,0,"80,725.30","-152,896.90",4468,2879,"50,424,923.65",604495300,2012,4044121,4032334
MI,1780,0,"59,869.90","-150,448.30",3601,2042,"41,023,682.41",237267100,1667,3354143,3344304
DE,1485,0,"37,725.10","-77,426.90",2162,1281,"39,717,325.51",291045500,990,1991093,1984807
WI,1796,0,"66,850.80","-154,148.20",3771,2230,"39,358,123.98",217999700,1746,3510179,3501997
ND,1880,0,"73,210.50","-175,172.40",4333,2307,"38,921,649.41",309337900,1880,3778994,3772529
AR,1872,0,"66,230.70","-161,066.10",2751,2468,"31,444,632.03",193047300,1839,3698764,3688731
MN,1284,0,"46,032.30","-108,808.10",2744,1672,"29,214,746.29",194374900,1228,2468986,2463967
CO,1389,0,"45,147.20","-113,972.00",2676,1722,"26,148,833.29",257210700,1243,2502140,2497058
OK,1082,0,"35,782.80","-93,366.70",1451,1600,"20,148,026.41",126569700,1032,2074927,2069916
KS,847,0,"29,914.00","-73,721.40",1680,1096,"18,744,459.80",102101100,847,1702665,1698709
NH,1124,0,"31,506.00","-72,074.50",1858,1163,"18,720,901.73",171611800,842,1690858,1687708
OR,790,0,"22,088.00","-57,761.10",1248,894,"15,127,044.44",136129900,660,1326367,1322467
SD,788,0,"30,195.00","-67,991.80",1654,972,"13,341,749.37",118815000,788,1584270,1581838
AZ,597,0,"21,397.00","-49,979.80",824,777,"12,372,858.30",108458900,592,1190379,1187908
VT,618,0,"23,775.50","-48,833.60",1407,1042,"11,590,243.13",88491800,612,1230644,1227491
ME,718,0,"23,156.70","-51,217.40",1363,868,"11,303,477.97",114176700,608,1220991,1218322
HI,4232,0,"15,747.60","-40,160.60",695,626,"9,865,618.04",765559100,435,874524,872077
NE,692,0,"25,828.70","-60,608.70",1355,879,"9,258,538.34",85870300,692,1391729,1388715
PR,600,0,"11,297.20","-27,409.00",428,430,"7,955,196.25",55245700,333,668731,666661
NM,294,0,"10,408.90","-24,577.90",371,414,"5,707,966.97",46580000,286,574807,573547
NV,213,0,"7,379.80","-18,164.40",361,302,"5,174,261.05",43719000,208,418370,417211
AK,142,0,"4,854.60","-12,609.10",282,181,"4,246,485.37",23900700,142,285407,284603
VI,193,0,"6,283.80","-15,727.40",280,423,"4,179,956.96",25407800,190,382058,381071
ID,202,0,"7,365.00","-17,987.90",440,223,"4,086,686.02",40670600,202,406564,405582
DC,147,0,"5,089.30","-12,330.00",387,174,"3,408,086.99",21394200,142,285876,285506
MT,199,0,"7,317.80","-17,694.10",401,231,"3,395,565.70",29205900,199,400502,399511
UT,134,0,"4,541.90","-10,842.50",268,141,"2,022,531.70",25129800,125,251428,251085
WY,67,0,"2,400.80","-5,968.40",130,86,"1,382,574.28",12158600,67,134789,134488
GU,3,0,108.30,-283.10,3,3,"37,206.87",338300,3,6039,6032

### HEATMAP PLOT!!!!

In [240]:
from config import (gkey)

In [243]:
# Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [287]:
# Store 'Lat' and 'Lng' into  locations 
locations = flood_df[["latitude", "longitude"]].astype(float)

# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
paid_on_claim = flood_df["totalBuildingInsuranceCoverage"].astype(float).abs()

In [288]:
# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=paid_on_claim, 
                                 dissipating=False, max_intensity=100000,
                                 point_radius = 0.1)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
heat_layer.dissipating = False
heat_layer.max_intensity = 100000
heat_layer.point_radius = 0.1


fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))